
body{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    background-repeat: no-repeat;
  overflow: hidden;

   
}
.front{
    display: flex;
}
i{  
    width: 60%;
    font-size:185px;
    color: #3584A7;
    justify-content: center;
    margin-top: 25px;
}

h2{
    padding-left: 150px;
    padding-top: 80px;
    width: 40%;
    font-size: 20px;
    color: black;
    font-family: 'Cinzel', serif;
    line-height: 30px;
}
h3{
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
main{
  
    margin-left: 200px;
    margin-top:40px;
}
.container{
    margin-top: 10px;
    background-color: white;
    border-radius: 4px;
    margin:20px;
    padding: 10px;
}
.wrapper{
    justify-content: flex-start;
    display: flex;
    margin-left: 65px;
   
}
.rate{
    margin-top: 50px;
    font-size: 16.9px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
}
.section1{
    width: 30%;

}
.section2{
width: 30%;
}
.convert{
    width: 20%;
    margin-bottom: 10px;

   
    
    
}

select{
    margin-top: 20px;
    outline: none;
    padding-left: 8px;
    font-size: 16.8px;
    width: 160px;
    height: 27.5px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid rgb(231, 231, 63);
    color: black;
    box-shadow: 0 2px 6px rgba(242, 245, 69, 0.863);
}
option{
    color: black;
    background-color: rgba(53, 133, 167, 0.801);
    
}
input{
    display: block;
    width: 80%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 6px;
    outline: none;
    margin-top: 30px;
    padding-left: 10px;
    border: 0.9px solid  black;

}
button{
    margin-left: 22px;
    margin-top: 195px;
    size: 40px;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12.5px;
    font-weight: 800;
    background-color: #3584A7;
    color: white;
    font-family:'Quicksand', sans-serif;
    letter-spacing: 2.5px;
    outline: none;
    border: none;
    transition: transform 1s;
    
    

}

button:hover{
    transform: scale(1.2);
  

}

@media(max-width:1099px){
    main{
        margin: 40px 40px 0px 50px;
    }
    .section1{
        width: 30%;

    }
    .section2{
    width: 3%;
    }
    .convert{
        width: 35%;
        padding-left: 40px;
        margin-bottom: 1px;
    }
    #rate.rate{
        margin-left: 50px;
    }
    h2{
        padding-left: 50px;
    }
    button{
        margin-left: 80px;
    }
}
@media(max-width:1099px){
    main{
        margin: 40px 10px 0px 20px;
    }
    .section1{
        width: 30%;
        margin-left: 2px;

    }
    .section2{
    width: 30%;
    }
    .convert{
        width: 40%;
        margin-bottom: 1px;
        padding-left: 20px;
    }
    #rate.rate{
        margin-left: 25px;
    }
    h2{
        padding-left: 50px;
    }
    button{
        margin-left: 60px;
    }
    h3{
        font-size:15px;
    }
    input{
        width: 95% ;
    }
    .wrapper{
        margin-left: 20px;
    }
    .container{
        margin: 20px;
    }
}

@media(max-width:420px){
    i{  
        font-size:135px; 
        margin-top: 5px;
        margin-bottom: 4px;
        padding-left: 89px;
    } 

    body{
        overflow: scroll;
      }

      main{
          margin: 40px 10px 0px 20px;
      }
      .front{
          display: block;
      }
      h2{
       text-align: center;
       font-size: 16px;
       padding: 25px 1px 2px 1px;
       width: 100%;
       margin-left: 1px;
      }

      main{
          margin: 8px;
      }
      .wrapper{
      display: block;
      }
      h3{
          font-size: 16px;
          font-weight: 800;
          letter-spacing: 2px;
      }
      .section1{
          width: 100%;
      }
      .section2{
          width: 100%;
          padding-bottom: 70px;
      }

      .convert{
          width: 100%;
      }
      select {
      width: 80%;
      }
      button{
          margin-left: 40px;
          margin-top: 10px;
          size: 30px;
          color: white;
          transition: transform 1s;
      }

      button:hover{
          transform: scale(1.09);

      }
      input{
          padding: 15px;
          border: 1px solid grey;
      }

      .container{
          margin: 8px;
      }

}
@media(max-width:320px){
    i{  
        font-size:135px; 
        margin-top: 5px;
        margin-bottom: 4px;
        padding-left: 48px;
    } 
    button{
        margin-left: 25px;
    }
    #rate.rate{
        margin-left: 10px;
    }
} 